<header>
  <a href="/" class="logo">Home</a>
  <nav>
    <ul>
      <li>
        <a href="/products" class="navLink">Productos</a>
      </li>
      <li>

        <a href="/carts" class="navLink">Cart</a>
      </li>
      <li>

        <a href="/chat" class="navLink">Chat</a>
      </li>
    </ul>
  </nav>
</header>